{% extends 'base.html'%}
{% import 'macros.html' as macro%}
{%block content%}

<div class="container" style="padding-bottom: 20px;">
    <a href="{{url_for('main.new_pitch')}}" class="btn btn-success">Create pitch</a>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="well well-lg">
                <h3>Interview Pitches</h3>
                <p>Interview pitches helps you ace an interview wiyh in a minute.</p>
                <a href="{{url_for('main.pitches_interview')}}" class="btn btn-primary -center">View</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="well well-lg">
                <h3>Product Pitches</h3>
                <p>Product PItches helps you present a product within a minute .</p>
                <a href="{{url_for('main.pitches_product')}} "class="btn btn-primary -center">View</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="well well-lg">
                <h3>Promotion Pitches</h3>
                <p>Promotion Pitcheshelps you in ypur presentation within a minute.</p>
                <a href="{{url_for('main.pitches_product')}}" class="btn btn-primary -center">View</a>
            </div>
        </div>
    </div>
</div>
{%endblock%}